ul li {
    list-style: none;
}

.head {
    background: rgb(223, 221, 221);
    // height: 60px;
    position: sticky;
    span {
        color: #000;
    }
    mat-icon {
        color: #000;
    }
}

.discont {
    color: red;
    font-size: larger;
}