.stats-cards {
    .mat-card {
        overflow: hidden;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    text-align: left;
    justify-content: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

button {
    border: none;
    background: none;
    .edit {
        color: green;
        font-size: 1.8rem;
    }
}
