<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="example-card tuteur" (click)="nmbreTuteur()">
            <mat-card-title>Tuteur</mat-card-title>
            <mat-card-content>
                <p>
                    <mat-icon>person</mat-icon>
                </p><br>
                <p>Nombre Tuteur : <b>{{t}}</b> </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card ecole" (click)="nmbreEcole()">
            <mat-card-title>Ecole</mat-card-title>
            <mat-card-content>
                <p>
                    <mat-icon>school</mat-icon>
                </p><br>
                <p>Nombre Ecole : <b>{{E}}</b> </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card user" (click)="nmbreParent()">
            <mat-card-title>Parent & Elève</mat-card-title>
            <mat-card-content>
                <p>
                    <mat-icon>people</mat-icon>
                </p><br>
                <p>Nombre Parent : <b>{{p}}</b> <br> Nombre Elève : <b>{{e}}</b> </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile><br>
    <mat-grid-tile>
        <mat-card class="example-card accepter" (click)="nmbreD()">
            <mat-card-title>Demande Accepter</mat-card-title>
            <mat-card-content>
                <p>
                    <mat-icon>offline_pin</mat-icon>
                </p><br>
                <p>{{accepter}}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card rejetter" (click)="nmbreR()">
            <mat-card-title>Demande Rejetter</mat-card-title>
            <mat-card-content>
                <p>
                    <mat-icon>highlight_off</mat-icon>
                </p><br>
                <p>{{rejetter}}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card notifice" (click)="nmbreC()">
            <mat-card-title>Classes</mat-card-title>
            <mat-card-content>
                <p>
                    <mat-icon>home</mat-icon>
                </p><br>
                <p>{{Classe}}</p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>

<div class="bg">
    <h1>Adresse</h1>
    <!-- <marquee behavior="" direction="left">
        <h2> Tutorat Mali issue à Hamdallaye ACI 2000 &nbsp; Email: tutorat@mali.com &nbsp; Tel: (+223) 77 36 63 33 | 67 36 63 33</h2>
    </marquee>
    <marquee behavior="" direction="right">
        <h4>Orange Digital Kalanso</h4>
        <img src="../../assets/kalanso.png" alt="" srcset="" height="50px">
    </marquee> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.34549529204!2d-8.02918688586806!3d12.630740025684979!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xe51cd69eb2170a9%3A0xd10a942ea812b38a!2sOrange%20Digital%20Center!5e1!3m2!1sfr!2sml!4v1649176217102!5m2!1sfr!2sml"
        width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<!-- <highcharts-chart style="width: 100%; height: 400px; display: block;"></highcharts-chart> -->
