.example-card {
    width: 250px;
    border-radius: 4%;
    box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.5);
    mat-card-title {
        color: white;
    }
}

.tuteur {
    background: #ff8000;
}

.ecole {
    background: #004D91;
}

.user {
    background: purple;
}

.accepter {
    background: rgb(104, 172, 104);
}

.rejetter {
    background: rgb(192, 82, 82);
}

.notifice {
    background: #7da8ce;
}

mat-icon {
    font-size: 4.2rem;
    color: aliceblue;
}

p {
    font-size: 1rem;
}
